<article class="card">
  <div class="card-body">
    <h3 class="card-title">
      <a href="/fanfictions/{{id}}"
        class="link-success link-underline link-underline-opacity-0 with-translation">
        {{#with title.original}}
          <span lang="{{language_code}}">
            {{getTextToDisplay .}}
          </span>
        {{/with}}
        {{#with (getMainTranslation title)}}
          <span lang="{{language_code}}">({{getTextToDisplay .}})</span>
        {{/with}}
      </a>
    </h3>
    {{#with summary}}
      <p class="card-text" lang="{{language_code}}">
        {{getTextToDisplay original}}
      </p>
    {{/with}}
    {{#with (getMainTranslation summary)}}
      <p class="card-text translation text-secondary-emphasis text-opacity-75"
        lang="{{language_code}}">
        {{getTextToDisplay .}}
      </p>
    {{/with}}
    {{#with (getTags .) as | tags |}}
      {{#each tags}}
        {{> tag-button . }}
      {{/each}}
    {{/with}}
  </div>
</article>